<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />
<meta name="description" content="KT 인터넷 속도 측정 관리 시스템">
<meta name="keywords" content="KT 인터넷 속도 측정 관리 시스템">
<title>템플릿 | KT 인터넷 속도 측정 관리 시스템</title>
<link rel="icon" type="image/png" href="../../resources/images/favicon.png">
<link rel="stylesheet" type="text/css" href="../../resources/css/reset.css">
<script src="../../resources/js/jquery-1.11.2.min.js"></script>
<script src="../../resources/js/jquery_ui.js"></script>
<script src="../../resources/js/jquery.datetimepicker.full.js"></script>
</head>

<body>

<div id="wrap">	
	
	<div class="section-wrap">
		<!-- S: section--lnb -->
		<div class="section--lnb">
			<button type="button" class="btn-lnb-toggle" onclick="front.lnbToggle()" title="메뉴 닫힘">닫힘</button>
			<div class="fixed-menu">
				<span class="kt-logo" onclick="location.href='../monitoring/index.html'">KT</span>
				<ul>
					<li class="on"><a href="javascript: front.lnbMenuActive(0)" title="실시간 모니터링">실시간 모니터링</a></li> <!-- active class="on" -->
					<li><a href="javascript: front.lnbMenuActive(1)" title="서비스 현황">서비스 현황</a></li>
					<li><a href="javascript: front.lnbMenuActive(2)" title="서비스 추이">서비스 추이</a></li>
					<li><a href="javascript: front.lnbMenuActive(3)" title="관리자 기능">관리자 기능</a></li>
				</ul>
			</div>
			<div class="lnb-submenu">
				<div class="kt-title" onclick="location.href='../monitoring/index.html'"><strong>인터넷 속도측정 관리 시스템</strong></div>
				<ul>
					<li class="on"> <!-- active class="on" -->
						<div>
							<strong>실시간 모니터링</strong>
							<ul>
								<li class="on"><a href="../monitoring/index.html">측정타입별</a></li>
								<li><a href="../monitoring/monitoring_server.html">측정서버별</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div>
							<strong>서비스 현황</strong>
							<ul>
								<li><a href="../status/index.html">서비스 현황 조회</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div>
							<strong>서비스 추이</strong>
							<ul>
								<li><a href="../transition/search_daily.html">일 조회</a></li>
								<li><a href="../transition/search_monthly.html">월 조회</a></li>
								<li><a href="../transition/search_year.html">년 조회</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div>
							<strong>관리자 기능</strong>
							<ul>
								<li><a href="../administrator/index.html">고객측정이력조회</a></li>
								<li><a href="../administrator/user_info.html">사용자정보관리</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--//E: section--lnb -->

		<!-- S: section--container -->
		<div class="section--container">		
			<div class="profile-position">
				<span class="first-name">홍</span>
				<p><strong>홍길동</strong><em>총괄관리자</em></p>
				<button type="button" class="btn-logout" title="로그아웃">로그아웃</button>
			</div>
			<div class="section--contents">
				<ul class="page-navi">
					<li><strong>templates</strong></li>
				</ul>
				<div class="page-contents">
					<div class="search-pannel">
						<fieldset>
							<legend>서비스 현황 조회 검색폼</legend>
							<ul class="templates-form">								
								<li>
									<div class="form-group single">
										<label>Multi Datepicker 달력</label>
										<div>
											<span class="datebox"><input type="text" class="multi-datepicker"></span>
											<span class="datebox"><input type="text" class="multi-datepicker"></span>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="datebox"><input type="text" class="multi-datepicker"></span>
<span class="datebox"><input type="text" class="multi-datepicker"></span></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>일반 달력</label>
										<div>
											<span class="datebox"><input type="text" class="nm-datepicker"></span>
											<span class="datebox"><input type="text" class="nm-datepicker"></span>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="datebox"><input type="text" class="nm-datepicker"></span>
<span class="datebox"><input type="text" class="nm-datepicker"></span></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>selectbox</label>
										<div>
											<span class="optionbox" style="width:200px"><select><option>선택</option></select></span>
											<p class="optionbox"><select><option>선택</option></select></p>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="optionbox" style="width:200px"><select><option>선택</option><option>혜화서버#1</option><option>혜화서버#2</option></select></span>
<p class="optionbox"><select><option>선택</option></select></p></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>input text</label>
										<div>
											<span class="inpbox" style="width:280px"><input type="text" placeholder="span 태그 사용시 가로값 지정, 기본값 100px"></span>					
											<p class="inpbox"><input type="text" placeholder="p 태그 사용시 자동으로 가로값 100%"></p>					
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="inpbox" style="width:280px"><input type="text" placeholder="span 태그 사용시 가로값 지정, 기본값 100px"></span>					
<p class="inpbox"><input type="text" placeholder="p 태그 사용시 자동으로 가로값 100%"></p>	</textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>normal input check</label>
										<div>
											<span class="ml20"><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></span>
											<span class="ml20"><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></span>
											<span class="ml20"><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></span>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="ml20"><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></span>
<span class="ml20"><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></span>
<span class="ml20"><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></span></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>normal input radio</label>
										<div>
											<span class="ml20"><input type="radio" name="radioName" id="radio-1" checked><label for="radio-1">Radio 1</label></span>
											<span class="ml20"><input type="radio" name="radioName" id="radio-2"><label for="radio-3">Radio 2</label></span>
											<span class="ml20"><input type="radio" name="radioName" id="radio-3"><label for="radio-2">Radio 3</label></span>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<span class="ml20"><input type="radio" name="radioName" id="radio-1" checked><label for="radio-1">Radio 1</label></span>
<span class="ml20"><input type="radio" name="radioName" id="radio-2"><label for="radio-3">Radio 2</label></span>
<span class="ml20"><input type="radio" name="radioName" id="radio-3"><label for="radio-2">Radio 3</label></span></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>tab style checkbox</label>
										<div>
											<ul class="chk-btn">
												<li><input type="checkbox" name="measureType1" id="measure1-100m" checked><label for="measure1-100m">100M</label></li>
												<li><input type="checkbox" name="measureType1" id="measure1-1g"><label for="measure1-1g">1G</label></li>
												<li><input type="checkbox" name="measureType1" id="measure1-10g"><label for="measure1-10g">10G</label></li>
											</ul>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<ul class="chk-btn">
	<li><input type="checkbox" name="measureType1" id="measure1-100m" checked><label for="measure1-100m">100M</label></li>
	<li><input type="checkbox" name="measureType1" id="measure1-1g"><label for="measure1-1g">1G</label></li>
	<li><input type="checkbox" name="measureType1" id="measure1-10g"><label for="measure1-10g">10G</label></li>
</ul></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>textarea</label>
										<div>
											<p class="txtbox" style="width:100%"><textarea cols="10" rows="3"></textarea></p>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<p class="txtbox" style="width:100%"><textarea cols="10" rows="3"></textarea></p></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>btn-small</label>
										<div>
											<button type="button" class="btn-green btn-small">.btn-small .btn-small</button>
											<button type="button" class="btn-gray btn-small round">.btn-gray .btn-small .round</button>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<button type="button" class="btn-green btn-small">.btn-green .btn-small</button>
<button type="button" class="btn-gray btn-small round">.btn-gray .btn-small .round</button></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>btn-medium</label>
										<div>
											<button type="button" class="btn-green btn-medium">.btn-green .btn-medium</button>
											<button type="button" class="btn-gray btn-medium round">.btn-gray .btn-medium .round</button>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<button type="button" class="btn-green btn-medium">.btn-green .btn-medium</button>
<button type="button" class="btn-gray btn-medium round">.btn-gray .btn-medium .round</button></textarea>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>btn-large</label>
										<div>
											<button type="button" class="btn-green btn-large">.btn-green .btn-large</button>
											<button type="button" class="btn-gray btn-large round">.btn-gray .btn-large .round</button>
										</div>
									</div>
									<div class="codebox">
										<textarea readonly disabled>
<button type="button" class="btn-green btn-large">.btn-green .btn-large</button>
<button type="button" class="btn-gray btn-large round">.btn-gray .btn-large .round</button></textarea>
									</div>
								</li>
							</ul>
						</fieldset>
					</div>

					<!-- S: search-pannel -->
					<div class="search-pannel">
						<fieldset>
							<legend>서비스 현황 조회 검색폼</legend>
							<ul>
								<li>
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk1" checked><label for="serviceTypeChk1">날짜</label></p>
										<div>
											<span class="datebox"><input type="text" class="nm-datepicker"></span>
										</div>
									</div>
								</li>
								<li style="width:390px">
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk2"><label for="serviceTypeChk2">기간</label></p>
										<div>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-01 09:00"></span>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-15 09:00"></span>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>측정타입</label>
										<div>
											<ul class="chk-btn">
												<li><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></li>
												<li><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></li>
												<li><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
							<p class="btncenter">
								<button type="button" class="btn-green btn-medium round"><em class="search">조회</em></button>
							</p>
						</fieldset>
					</div>
					<!-- //E: search-pannel -->

					<div class="search-pannel">
						<fieldset>
							<legend>서비스 현황 조회 검색폼</legend>
							<ul>
								<li>
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk1" checked><label for="serviceTypeChk1">날짜</label></p>
										<div>
											<span class="datebox"><input type="text" class="nm-datepicker"></span>
										</div>
									</div>
								</li>
								<li style="width:390px">
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk2"><label for="serviceTypeChk2">기간</label></p>
										<div>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-01 09:00"></span>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-15 09:00"></span>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>측정타입</label>
										<div>
											<ul class="chk-btn">
												<li><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></li>
												<li><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></li>
												<li><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></li>
											</ul>
										</div>
									</div>
								</li>
								<li style="width:270px">
									<div class="form-group single">
										<label>OLT위치</label>
										<div>
											<span class="optionbox" style="width:130px"><select><option>강원도</option><option>경기도</option><option>충청북도</option><option>충청남도</option></select></span>
											<span class="optionbox" style="width:130px"><select><option>속초시</option><option>동해시</option><option>원주시</option><option>춘천시</option><option>정성군</option><option>횡성군</option></select></span>
										</div>
									</div>
								</li>
							</ul>
							<p class="btncenter">
								<button type="button" class="btn-green btn-medium round"><em class="search">조회</em></button>
							</p>
						</fieldset>
					</div>

					<div class="search-pannel tagging"> <!-- tagging  클래스 추가 -->
						<fieldset>
							<legend>서비스 현황 조회 검색폼</legend>
							<ul>
								<li>
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk1" checked><label for="serviceTypeChk1">날짜</label></p>
										<div>
											<span class="datebox"><input type="text" class="nm-datepicker"></span>
										</div>
									</div>
								</li>
								<li style="width:390px">
									<div class="form-group single">
										<p class="chk"><input type="radio" name="serviceTypeChk" id="serviceTypeChk2"><label for="serviceTypeChk2">기간</label></p>
										<div>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-01 09:00"></span>
											<span class="datebox disabled"><input type="text" class="multi-datepicker" disabled value="2023-05-15 09:00"></span>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>측정타입</label>
										<div>
											<ul class="chk-btn">
												<li><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></li>
												<li><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></li>
												<li><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></li>
											</ul>
										</div>
									</div>
								</li>
								<li style="width:270px">
									<div class="form-group single">
										<label>OLT위치</label>
										<div>
											<span class="optionbox" style="width:130px"><select><option>강원도</option><option>경기도</option><option>충청북도</option><option>충청남도</option></select></span>
											<span class="optionbox" style="width:130px"><select><option>속초시</option><option>동해시</option><option>원주시</option><option>춘천시</option><option>정성군</option><option>횡성군</option></select></span>
										</div>
									</div>
								</li>
							</ul>
							<p class="btncenter">
								<button type="button" class="btn-green btn-medium round"><em class="search">조회</em></button>
							</p>
						</fieldset>
						<div class="search-tagging">
							<button type="button" class="btn-reset"><em>전체해제</em></button>
							<ul>
								<li><span>강릉강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>강릉시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>속초시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>동해시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
								<li><span>춘천시</span><button type="button" class="btn-delete" title="삭제">삭제</button></li>
							</ul>
						</div>
					</div>

					<!-- S: search-pannel -->
					<div class="search-pannel toggle-close">
						<fieldset>
							<legend>서비스 현황 조회 검색폼</legend>
							<ul>
								<li>
									<div class="form-group single">
										<label>이름</label>
										<div>
											<p class="inpbox"><input type="text" placeholder="이름을 입력해주세요"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>로그인 ID</label>
										<div>
											<p class="inpbox"><input type="text" placeholder="ID를 입력해주세요"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>IP</label>
										<div>
											<p class="inpbox"><input type="text" placeholder="IP를 입력해주세요"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>측정타입</label>
										<div>
											<ul class="chk-btn">
												<li><input type="checkbox" name="measureType" id="measure-100m" checked><label for="measure-100m">100M</label></li>
												<li><input type="checkbox" name="measureType" id="measure-1g"><label for="measure-1g">1G</label></li>
												<li><input type="checkbox" name="measureType" id="measure-10g"><label for="measure-10g">10G</label></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>측정서버</label>
										<div>
											<p class="optionbox">
												<select><option>상품</option><option>인터넷 베이직</option><option>인터넷 슬림</option></select>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>조직명</label>
										<div>
											<p class="optionbox">
												<select><option>융합서비스팀</option></select>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group single">
										<label>구분</label>
										<div>
											<p class="optionbox">
												<select><option>vnms_was02</option><option>vnms_was03</option><option>vnms_was04</option></select>
											</p>
										</div>
									</div>
								</li>
								<li style="width:390px">
									<div class="form-group single">
										<label>실행일자</label>
										<div>
											<span class="datebox"><input type="text" class="multi-datepicker" ></span>
											<span class="datebox"><input type="text" class="multi-datepicker" ></span>
										</div>
									</div>
								</li>
							</ul>
						</fieldset>
						<p class="btncenter">
							<button type="button" class="btn-green btn-medium round"><em class="search">조회</em></button>
							<button type="button" class="btn-gray btn-medium round">엑셀</button>
						</p>
						<span class="btn-search-toggle"><button type="button" onclick="front.searchToggle()"><em>상세조회</em></button></span>
					</div>
					<!-- //E: search-pannel -->

				</div>
			</div>
		</div>	
		<!--//E: section--container -->
	</div>
</div>

<script src="../../resources/js/front_ui.js"></script>
<script>

</script>
</body>
</html>