@charset "UTF-8";
@import url("contents.css");


/* Pretendard */
@font-face {font-family:'Pretendard'; font-weight:100; font-style:normal; src:url('font/PRETENDARD-THIN.woff') format('woff'), url('font/PRETENDARD-THIN.woff2') format('woff2'), url('font/PRETENDARD-THIN.ttf') format('OpenType'); }
@font-face {font-family:'Pretendard'; font-weight:200; font-style:normal; src:url('font/PRETENDARD-LIGHT.woff') format('woff'), url('font/PRETENDARD-LIGHT.woff2') format('woff2'), url('font/PRETENDARD-LIGHT.ttf') format('OpenType'); }
@font-face {font-family:'Pretendard'; font-weight:300; font-style:normal; src:url('font/PRETENDARD-MEDIUM.woff') format('woff'), url('font/PRETENDARD-MEDIUM.woff2') format('woff2'), url('font/PRETENDARD-MEDIUM.ttf') format('OpenType'); }
@font-face {font-family:'Pretendard'; font-weight:400; font-style:normal; src:url('font/PRETENDARD-REGULAR.woff') format('woff'), url('font/PRETENDARD-REGULAR.woff2') format('woff2'), url('font/PRETENDARD-REGULAR.ttf') format('OpenType'); }
@font-face {font-family:'Pretendard'; font-weight:700; font-style:normal; src:url('font/PRETENDARD-SEMIBOLD.woff') format('woff'), url('font/PRETENDARD-SEMIBOLD.woff2') format('woff2'), url('font/PRETENDARD-SEMIBOLD.ttf') format('OpenType'); }
@font-face {font-family:'Pretendard'; font-weight:800; font-style:normal; src:url('font/PRETENDARD-BOLD.woff') format('woff'), url('font/PRETENDARD-BOLD.woff2') format('woff2'), url('font/PRETENDARD-BOLD.ttf') format('OpenType'); }


/* reset */
* {margin:0; padding:0; outline:0; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch; -webkit-box-sizing:border-box; box-sizing:border-box}
::after,::before {-webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch; -webkit-box-sizing:border-box; box-sizing:border-box}
::-moz-selection {color:#fff; background:#fff}
::selection {color:#fff; background:#fff}
html {width:100%; height:100%; font-size:10px}
body {width:100%; height:100%; background:#fff; color:rgba(102,102,102,0.9); line-height:1.5; font-size:14px; word-break:keep-all; word-wrap:break-word}
body::-webkit-scrollbar {width:5px}
body::-webkit-scrollbar-track {background-color:#f1f1f1}
body::-webkit-scrollbar-thumb {border-radius:0;background-color:#c1c1c1}
body::-webkit-scrollbar-button {width:0;height:0}
ul,ol,li {list-style:none}
a {color:inherit; text-decoration:none; cursor:pointer}
em,address,i {font-style:normal}
dt,strong,em,b {font-weight:700}
img,input,textarea,button {vertical-align:middle}
hr {font-size:0; line-height:0; border:0}
pre {white-space:pre-line; word-break:break-all}
img {border:0}
input[type=radio] {-webkit-appearance:none; -moz-appearance:none; appearance:none; width:0; height:0; border:0}
input[type=checkbox] {-webkit-appearance:none; -moz-appearance:none; appearance:none; width:0; height:0; border:0}
input,textarea {-webkit-appearance:none; -moz-appearance:none; appearance:none}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
input::-ms-clear,textarea::-ms-clear {display:none}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#bcc0cc; font-size:16px; font-weight:200}
input:-moz-placeholder,textarea:-moz-placeholder {color:#bcc0cc; font-size:16px; font-weight:200}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color:#bcc0cc; font-size:16px; font-weight:200}
textarea {overflow-x:hidden; overflow-y:auto; resize:none}
textarea::-webkit-scrollbar {width:5px}
textarea::-webkit-scrollbar-track {background-color:#f1f1f1}
textarea::-webkit-scrollbar-thumb {border-radius:0;background-color:#c1c1c1}
textarea::-webkit-scrollbar-button {width:0;height:0}
select {-webkit-appearance:none; -moz-appearance:none; appearance:none}
select::-ms-expand {display:none}
button {background:transparent; border:0; cursor:pointer}
fieldset {margin:0; padding:0; border:0; background:0}
fieldset legend {visibility:hidden; font-size:0; line-height:0}
table {border-collapse:collapse}
caption {visibility:hidden; width:0; height:0; overflow:hidden; font-size:0}
body,button,input,textarea,select,pre {font-family:'Pretendard', Dotum,sans-serif; font-weight:200}
body, button, input, textarea, select, pre, p, table, td, tr, strong, span, em, dl, dd, dt, b, s, i, div, code, main, section, nav, footer, header, aside, fieldset, legend, address {font-family:'Pretendard', sans-serif; font-weight:400}
.nocontents {clear:both; overflow:hidden; min-height:170px; padding:80px 0 30px 0; text-align:center; font-size:18px}
.nocontents > span {display:block}
.tab-hiddencontents {display:none; clear:both; overflow:hidden}
.tab-hiddencontents.on {display:block}
.pc-only {display:block}
.mobile-only {display:none}
.pull-left {float:left !important}
.pull-right {float:right !important}
.txtright {text-align:right !important}
.txtcenter {text-align:center !important}
.txtleft {text-align:left !important}
.hide {visibility:hidden; font-size:0; line-height:0; font-size:0; text-indent:-99999px}


/* Slick Slider */
.slick-slider {position:relative; display:block; height:100%; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent}
.slick-list {position:relative; display:block; overflow:hidden; width:100%; height:100%; margin:0; padding:0}
.slick-list.dragging {cursor:crosshair}
.slick-slider .slick-track,.slick-slider .slick-list {-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
.slick-track {position:relative; top:0; left:0; display:block; width:100%; height:100%}
.slick-track:before,.slick-track:after {display:table; content:''}
.slick-track:after {clear:both}
.slick-loading .slick-track {visibility:hidden}
.slick-slide {display:none; float:left; width:100%; height:100%; min-height:1px}
[dir='rtl'] .slick-slide {float:right}
.slick-slide img {display:block}
.slick-slide.slick-loading img {display:none}
.slick-slide.dragging img {pointer-events:none}
.slick-initialized .slick-slide {display:block}
.slick-loading .slick-slide {visibility:hidden}
.slick-vertical .slick-slide {display:block; height:auto; border:1px solid transparent}
.slick-arrow.slick-hidden {display:none}

/* datepicker */
#ui-datepicker-div {margin:-2px 0 0 -1px; background:#fff}
.ui-datepicker {width:284px}
.ui-datepicker table {width:100%; margin-bottom:0}
.ui-datepicker-title {text-align:center; font-size:16px; font-weight:700}
.ui-datepicker-title select {width:80px; height:30px; padding:0 30px 0 10px; background:#fff url('../images/icon_selectarr_s.png') no-repeat 100% 50%; border:1px solid #cdd0d6; color:#222; font-weight:700; font-size:14px}
.ui-datepicker-title select:last-child {width:70px; margin-left:5px}
.ui-datepicker-title .ui-datepicker-year select {width:70px}
.ui-datepicker-title .ui-datepicker-month select {width:60px}
.ui-datepicker .ui-widget-header {position:relative; padding:10px 7px; background:#fff; border:1px solid #ddd; border-bottom:none}
.ui-datepicker .ui-widget-header a {position:absolute; display:block; top:18px; width:10px; height:17px; background-repeat:no-repeat; font-size:0; text-indent:-99999px; cursor:pointer}
.ui-datepicker .ui-widget-header .ui-datepicker-prev {left:13px; background-image:url('../images/icon_paging_prev.png')}
.ui-datepicker .ui-widget-header .ui-datepicker-next {right:13px; background-image:url('../images/icon_paging_next.png')}
.ui-datepicker .ui-widget-header .ui-state-hover {background-color:transparent; border:none}
.ui-datepicker-calendar {margin:0; border:1px solid #ddd; border-top:none; border-bottom:1px solid #ccc}
.ui-datepicker-calendar th {padding:5px 0; text-align:center; font-size:13px; color:#333}
.ui-datepicker td {padding:0 6px; margin:0; height:30px; border-left:1px solid #ccc; border-top:1px solid #ccc; color:#555; text-align:center; font-size:13px}
.ui-datepicker td:hover, .ui-datepicker td:hover .ui-state-default {background:#1e6efa; color:#fff}
.ui-datepicker-today, .ui-datepicker-today .ui-state-default.ui-state-highlight {background:#222; color:#fff}
.ui-datepicker td:first-child {border-left:none}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button,html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border:none}
.ui-widget.ui-widget-content {border-color:#cdd0d6; border-radius:0}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {display:block; background:#fff; color:#666}
.ui-datepicker .ui-datepicker-buttonpane {position:relative; padding:8px; margin-top:0; border:1px solid #999; border-top:none}
.ui-datepicker .ui-datepicker-buttonpane .ui-state-default {width:43px; height:22px; line-height:252px; border:1px solid #ccc; color:#666; font-size:13px; border-radius:3px}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {position:absolute; right:8px; top:8px}

/* form */
input[type="radio"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[type="radio"] + label {display:inline-block; position:relative; padding:0 0 0 28px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; color:rgba(102,102,102,0.9)}
input[type="radio"] + label:before {content:''; position:absolute; left:0; top:0; width:22px; height:22px; text-align:center; background:url('../images/icon_radio_off.png') no-repeat 0 0}
input[type="radio"]:checked + label:before {background:url('../images/icon_radio_on.png') no-repeat 0 0}
input[type="radio"]:checked + label:after {content:''; position:absolute; left:0; top:0; width:22px; height:22px; text-align:center; background:url('../images/icon_radio_on.png') no-repeat 0 0}

input[type="checkbox"] {display:inline-block; overflow:hidden; position:absolute; width:0; height:0; border:0; clip:rect(0,0,0,0); border:0}
input[type="checkbox"] + label {display:inline-block; position:relative; padding-left:30px; color:#000; font-size:18px; cursor:pointer}
input[type="checkbox"] + label.txt-hidden {padding:0; font-size:0; text-indent:-99999px}
input[type="checkbox"] + label:before {content:""; display:inline-block; position:absolute; top:0; left:0; width:22px; height:22px; background:url('../images/icon_chk_off.png') no-repeat 0 0}
input[type="checkbox"]:checked + label:before {background:url('../images/icon_chk_on.png') no-repeat 0 0}
input[type="checkbox"]:checked + label:after {content:''; width:22px; height:22px; background:url('../images/icon_chk_on.png') no-repeat 0 0}

.txtbox {display:block; position:relative; width:100%; min-height:80px; overflow:hidden; background:#fff; border:1px solid #e6e9f2; border-radius:5px; vertical-align:middle}
.txtbox textarea {width:100%; height:100%; padding:10px; border:0}

.codebox {display:block; position:relative; width:100%; min-height:40px; overflow:hidden; background:#fff; vertical-align:middle}
.codebox textarea {width:100%; height:100%; padding:10px; border:0}
.codebox code {display:block; width:100%; height:100%; padding:10px; border:0}
.codebox pre {display:block; width:100%; height:100%; padding:10px; border:0}


.inpbox {position:relative; height:40px; overflow:hidden; display:flex; align-items:center; justify-content:center}
.inpbox input[type="text"],
.inpbox input[type="password"] {width:100%; height:100%; padding:0 10px; border:1px solid #e6e9f2; border-radius:5px; background:#fff; font-size:14px; color:#4b5063}
.inpbox.disabled input {background:#f2f2f2}
span.inpbox {width:180px; display:inline-block}
p.inpbox {width:100%}

.optionbox {position:relative; min-width:90px; height:40px; background:#fff; vertical-align:middle; display:flex; align-items:center; justify-content:center}
.optionbox select {display:block; width:100%; height:100%; padding:0 30px 0 10px; border:1px solid #e6e9f2; background:#fff url('../images/icon_selectarr.png') no-repeat 100% 50%; border-radius:5px; color:#4b5063; font-size:14px}
.optionbox select option {font-size:14px}
.optionbox select option:checked {color:#4b5063}
.optionbox.disabled select {background-color:#f1f1f1; pointer-events:none; color:#999}
.optionbox.disabled select option {color:#999}
.optionbox select:focus {-webkit-transition:all 0.30s ease-in-out;-moz-transition:all 0.30s ease-in-out;-ms-transition:all 0.30s ease-in-out;-o-transition:all 0.30s ease-in-out}
.optionbox select:focus {-webkit-box-shadow:0 0 6px rgba(0,0,0,0.1); -moz-box-shadow:0 0 6px rgba(0,0,0,0.1); box-shadow:0 0 6px rgba(0,0,0,0.1); border:1px solid #00a2bb !important}

.datebox {display:block; float:left; position:relative; width:180px; height:40px; overflow:hidden; padding:0 45px 0 0; background:#fff; border:1px solid #e6e9f2; border-radius:5px}
.datebox + em {float:left; margin:0 5px; color:#4b5063; font-size:14px; line-height:40px}
.datebox img {position:absolute; right:8px; top:11px}
.datebox input {width:100%; height:38px; padding:0 10px; text-align:center; border:0; font-size:14px; color:#4b5063}
.datebox input::-webkit-input-placeholder {color:#bcc0cc; font-size:16px}
.datebox input:-moz-placeholder {color:#bcc0cc; font-size:16px}
.datebox input::-moz-placeholder{color:#bcc0cc; font-size:16px}
.datebox input:-ms-input-placeholder {color:#bcc0cc; font-size:16px}

.attachmentbox {position:relative; width:100%; height:58px; padding:0 120px 0 0}
.attachmentbox.deltype {padding-right:240px}
.attachmentbox.deltype .chk-del {position:absolute; right:0; top:5px}
.attachmentbox.deltype .chk-del input[type="checkbox"] + label {font-size:15px}
.attachmentbox.deltype .btn-filesch {right:120px}
.attachmentbox .btn-filesch {position:absolute; right:0; top:0; overflow:hidden; width:110px; height:40px; margin:0; padding:0; background:#fff; border:1px solid #e6e9f2; text-align:center; color:rgba(102,102,102,0.9); line-height:40px}
.attachmentbox .btn-filesch span {color:#222; font-weight:400; font-size:16px}
.attachmentbox .btn-filesch input[type="file"] {position:absolute; top:0; left:0; width:105%; height:100%; margin-left:-5%; font-size:18px; opacity:0; filter:alpha(opacity=00)}
.attachmentbox input[type="text"] {width:100%; height:40px; padding:0 20px; border:1px solid #e6e9f2; font-size:16px; color:#20242c}


/* btn */
.btnjustify {clear:both; position:relative; text-align:left; font-size:0}
.btnjustify span {position:absolute; right:0; top:0}
.btnjustify button {margin-left:7px}
.btnjustify button:first-child {margin-left:0}
.btnleft {clear:both; text-align:left; font-size:0}
.btnleft button {margin:0 5px}
.btnleft button:first-child {margin-left:0}
.btnleft button:only-child {margin:0}
.btnright {clear:both; text-align:right; font-size:0}
.btnright button {margin:0 0 0 7px}
.btnright button:first-child {margin-left:0}
.btnright button:only-child {margin:0}
.btncenter {clear:both; text-align:center; font-size:0}
.btncenter button {margin:0 5px}
.btncenter button:only-child {margin:0}
.btn-small {height:30px; padding:0 14px; border-radius:2px; font-size:14px; font-weight:400; line-height:31px}
.btn-small b {font-weight:bold; font-family:Arial}
.btn-medium {min-width:150px; height:48px; padding:0 20px; font-size:14px; border-radius:5px; font-weight:700; line-height:35px}
.btn-large {min-width:190px; max-width:400px; height:56px; padding:0 20px; border-radius:6px; font-size:16px; font-weight:700; line-height:56px}
.btn-small.round {border-radius:15px; line-height:32px}
.btn-medium.round {border-radius:24px}
.btn-large.round {border-radius:25px}

.btn-green {background:#7ae6e6; color:#101216}
.btn-orange {background:#ff981f; color:#fff}
.btn-skyblue {background:#f4f7fa; border:1px solid #c5d0d1; color:#798490}
.btn-red {background:#fb1a28; color:#fff}
.btn-navy {background:#0b4791; color:#fff}
.btn-gray {background:#ced1d8; color:#fff}
.btn-lightgray {background:#ddd; border:0; color:#222}
.btn-black {background:#363c48; color:#fff}
.btn-yellow {background:#fcce00; color:#fff}
.btn-white {background:#fff; border:1px solid #cdd0d6; color:rgba(102,102,102,0.9)}
.btn-border-blue {border:1px solid #1e6efa; color:#1e6efa}
.btn-border-black {border:1px solid #666; background:#fff; color:#222}
.btn-border-red {border:1px solid #fb1a28; background:#fff; color:#fb1a28}
.btn-filedownload {width:80%; height:90px; background:#d2ac02; color:#fff}
.btn-filedownload em {display:inline-block; padding:0 80px 0 0; color:#fff; font-size:26px}
.btn-moreview {width:100%; margin-top:40px}
.btn-moreview button {width:100%; height:55px; background:#efefef; color:#333; font-size:18px; font-weight:800}

/* paging */
.paging {clear:both; overflow:hidden; position:relative; width:100%; margin:40px auto 0; text-align:center}
.paging:after {content:""; display:block; clear:both; overflow:hidden}
.paging * {vertical-align:middle}
.paging button {width:34px; height:34px; text-indent:-99999px; font-size:0}
.paging .btn-paging-prev {background:url('../images/icon_paging_prev_02.png') no-repeat 50%}
.paging .btn-paging-next {background:url('../images/icon_paging_next_02.png') no-repeat 50%}
.paging span {display:inline-block; height:34px; margin:0 10px}
.paging span a.on {border-bottom:0}
.paging span a:hover {background:#1e6efa; border-bottom:0; color:#fff}
.paging span a {display:inline-block; width:34px; height:34px; margin:0 2px; background:#e7ecf0; font-weight:400; color:#222; line-height:34px}
.paging span a.on {background:#1e6efa; color:#fff; font-weight:700}
.paging + .btnright {position:relative; z-index:40; width:auto; clear:none; float:right; margin-top:-40px}



/* layout */
#wrap {width:100%; min-width:1280px; height:100vh; margin:0; opacity:0}

.section-wrap {position:relative; width:100%; height:100%; display:flex; align-items:flex-start; justify-content:flex-end}
.section-wrap::after {position:absolute; left:0; top:0; z-index:1; width:320px; height:100%; content:''}

.section--lnb {position:absolute; left:0; top:0; z-index:10; width:320px; height:100%}
.section--lnb .btn-lnb-toggle {position:absolute; right:-16px; top:21px; z-index:25; width:16px; height:40px; background:#dcdfe6; border-radius:0 6px 6px 0; transition:right 0.4s cubic-bezier(0,0,0.6,0.5); font-size:0; text-indent:-99999px}
.section--lnb .btn-lnb-toggle::after {position:absolute; left:50%; top:50%; transform:rotate(0deg); transition:all 0.5s; width:4px; height:9px; margin:-4.5px 0 0 -2px; background:url('../images/icon_lnb_toggle.png') no-repeat 50%; content:''}
.section--lnb .fixed-menu {position:fixed; left:0; top:0; z-index:20; width:60px; height:100%; background:#2f3440}
.section--lnb .fixed-menu .kt-logo {display:block; width:60px; height:80px; background:url('../images/logo_kt_w.png') no-repeat 50%; font-size:0; text-indent:-99999px; cursor:pointer}
.section--lnb .fixed-menu > ul {position:relative; width:60px}
.section--lnb .fixed-menu > ul > li a {display:block; width:60px; height:60px; font-size:0; text-indent:-99999px}
.section--lnb .fixed-menu > ul > li:nth-child(1) a {background:url('../images/icon_lnb_01.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(1) a:hover {background:url('../images/icon_lnb_01_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(1).on a {background:url('../images/icon_lnb_01_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(2) a {background:url('../images/icon_lnb_02.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(2) a:hover {background:url('../images/icon_lnb_02_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(2).on a {background:url('../images/icon_lnb_02_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(3) a {background:url('../images/icon_lnb_03.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(3) a:hover {background:url('../images/icon_lnb_03_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(3).on a {background:url('../images/icon_lnb_03_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(4) a {background:url('../images/icon_lnb_04.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(4) a:hover {background:url('../images/icon_lnb_04_on.png') no-repeat 20px 50%}
.section--lnb .fixed-menu > ul > li:nth-child(4).on a {background:url('../images/icon_lnb_04_on.png') no-repeat 20px 50%}
.section--lnb .lnb-submenu {position:absolute; left:60px; top:0; z-index:10; width:calc(100% - 60px); height:100%; background:#f5f6fa; border-right:1px solid #e6e9f2; transition:width 0.4s cubic-bezier(0,0,0.6,0.5); display:flex; align-items:flex-start; justify-content:flex-start; flex-direction:column}
.section--lnb .lnb-submenu .kt-title {position:absolute; left:0; top:0; z-index:11; width:260px; height:80px; opacity:1; display:flex; align-items:center; justify-content:flex-start; transition:all 0.5s cubic-bezier(0,0,0.5,0.65); cursor:pointer}
.section--lnb .lnb-submenu .kt-title strong {width:100%; height:60px; display:flex; align-items:center; justify-content:flex-start; padding-left:20px; font-size:16px; color:#000; font-weight:800}
.section--lnb .lnb-submenu > ul {position:absolute; left:20px; top:80px; width:calc(100% - 40px); opacity:1; transition:all 0.5s cubic-bezier(0,0,0.5,0.65)}
.section--lnb .lnb-submenu > ul > li {position:relative; width:100%}
.section--lnb .lnb-submenu > ul > li > div {position:absolute; left:0; top:50px; z-index:12; width:100%; opacity:0; transition:all 0.5s cubic-bezier(0,0,0.5,0.65)}
.section--lnb .lnb-submenu > ul > li > div > strong {width:100%; height:57px; margin-bottom:10px; display:flex; align-items:center; justify-content:flex-start; border-bottom:1px solid #e3e7f2; color:#101216; font-size:15px; font-weight:800; line-height:55px}
.section--lnb .lnb-submenu > ul > li ul li {width:100%; height:35px; display:flex; align-items:center; justify-content:flex-start}
.section--lnb .lnb-submenu > ul > li ul li a {position:relative; height:19px; color:#babfcc; font-size:14px}
.section--lnb .lnb-submenu > ul > li ul li a::before {position:absolute; left:0; bottom:0; width:100%; height:1px; background:transparent; content:''}
.section--lnb .lnb-submenu > ul > li ul li a:hover {color:#101216; font-weight:700}
.section--lnb .lnb-submenu > ul > li ul li a:hover::before {background:#101216}
.section--lnb .lnb-submenu > ul > li ul li.on a {color:#101216; font-weight:700}
.section--lnb .lnb-submenu > ul > li ul li.on a::before {background:#101216}
.section--lnb .lnb-submenu > ul > li.on div {z-index:21; opacity:1; top:0}

.section--container {width:calc(100% - 320px); height:100%; padding-left:40px; transition:all 0.4s cubic-bezier(0,0,0.6,0.5); display:flex; align-items:center; justify-content:center; flex-direction:column}
.section--container .profile-position {display:flex; align-items:center; justify-content:flex-end; width:100%; height:82px; padding-right:50px}
.section--container .profile-position .first-name {position:relative; display:flex; align-items:center; justify-content:center; width:28px; height:28px; overflow:hidden; background:#929cb3; border:1px solid #8a93a8; border-radius:6px; font-size:14px; color:#fff; font-weight:700}
.section--container .profile-position p {height:28px; margin:0 22px 0 12px; display:flex; align-items:center; justify-content:center}
.section--container .profile-position p strong {font-size:16px; color:#101216; font-weight:700}
.section--container .profile-position p em {margin-left:8px; font-size:16px; color:#101216; font-weight:400}
.section--container .profile-position .btn-logout {width:22px; height:28px; background:url('../images/icon_logout.png') no-repeat 50%; font-size:0; text-indent:-99999px}
.section--container .section--contents {width:100%; height:calc(100% - 82px)}
.section--container .section--contents .page-navi {height:57px; display:flex; align-items:center; justify-content:flex-start}
.section--container .section--contents .page-navi li strong {font-weight:800}
.section--container .section--contents .page-navi li {position:relative; margin-left:14px; padding-left:20px; line-height:57px}
.section--container .section--contents .page-navi li::before {position:absolute; left:0; top:50%; width:8px; height:13px; margin-top:-9px; background:url('../images/icon_pagenavi.png') no-repeat 50%; content:''}
.section--container .section--contents .page-navi li:first-child {margin-left:0; padding-left:0}
.section--container .section--contents .page-navi li:first-child::before {display:none}
.section--container .section--contents .page-navi li:first-child strong {font-size:36px; color:#20242c}
.section--container .section--contents .page-navi li:nth-child(2) strong {font-size:24px; color:#4a5162}

.section-wrap.lnbClose .section--lnb .lnb-submenu {width:0}
.section-wrap.lnbClose .section--lnb .lnb-submenu .kt-title {left:-430px; opacity:0}
.section-wrap.lnbClose .section--lnb .lnb-submenu > ul > li.on > div {left:-430px; opacity:0}
.section-wrap.lnbClose .section--lnb .btn-lnb-toggle {right:calc(100% - 76px)}
.section-wrap.lnbClose .section--lnb .btn-lnb-toggle::after {transform:rotate(-180deg)}
.section-wrap.lnbClose .section--container {width:calc(100% - 60px)}

.page-contents {padding:18px 40px 50px 0}


/* popup */
.pop-transparents-layer {z-index:99; top:0; left:0; position:fixed; width:100%; min-height:100%; background:rgba(0,0,0,0.5)}
.modalpop {visibility:hidden; z-index:101; position:absolute; width:100%; height:auto; min-height:100%; padding:0; opacity:0; transition:all 0.4s; display:-moz-flex; display:-ms-flex; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; align-items:flex-start; overflow-y:scroll; top:-99999px; left:-99999px}
.modalpop.active {visibility:visible; top:0; left:0; opacity:1; overflow:hidden}
.modalpop.active .popupwrap .pop-transparents-layer {z-index:110; position:absolute; left:0; top:0; width:100%; height:100%; min-height:100%; border:0; background:rgba(0,0,0,0.5)}

.popupwrap {z-index:100; position:relative; background:#fff; border-radius:0; box-shadow:0 0 20px rgba(0,0,0,0.3)}
.popupwrap .btn-popclose {width:20px; height:20px; position:absolute; top:25px; left:30px; font-size:0; text-indent:-99999px}
.popupwrap .btn-popclose::before,.popupwrap .btn-popclose::after {display:inline-block; content:''; top:50%; left:50%; position:absolute; width:15px; height:1px; margin:0 0 0 -7px; background:#000; border-radius:1px; -webkit-transform-origin:center center; transform-origin:center center}
.popupwrap .btn-popclose::before {-webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.popupwrap .btn-popclose::after {-webkit-transform:rotate(45deg); transform:rotate(45deg)}
.popupwrap .popcontents .alert-msg {margin:0 0 20px 0}
.popupwrap .popcontents .alert-msg p {text-align:center; color:#222; font-size:18px; font-weight:700}
.popupwrap .popcontents .btncenter .btn-md {min-width:120px; height:40px; font-size:15px}
.popupwrap .popcontents .btncenter .btn-md:only-child {width:100%; min-width:100%}
.popupwrap .scrollbox {max-height:396px; padding:0 10px 0 0; margin:0 0 35px 0; overflow-x:hidden; overflow-y:auto}
.popupwrap .nocontents {font-size:16px}

.popupwrap.pop-alert {position:fixed; left:50%; top:-200px; width:75%; max-width:280px; overflow:hidden; transform:translate(-50%,-50%); border-radius:8px; transition:top 0.4s; filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.16)) drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.16))}
.popupwrap.pop-alert.active {top:50%; transition:top 0.5s}
.popupwrap.pop-alert .popcontents {padding:0 !important; overflow:hidden}
.popupwrap.pop-alert .alert-msg {height:170px; padding:105px 20px 0 20px; text-align:center; background:url('../images/icon_complete.png') no-repeat 50% 45px; background-size:420px auto}
.popupwrap.pop-alert .alert-msg p {font-size:16px; color:#232b37; font-weight:700}
.popupwrap.pop-alert .btn-black {width:100%; height:50px; color:#fff; font-size:16px}


/* meda query */
@media screen and (max-width:1365px) {
	body {overflow-x:hidden}
	
}


/* animation keyframe */

@keyframes bottomToTop {
	0% {transform:translateY(50px)}
	100% {transform:translateY(0)}
}

@keyframes bottomToTop2 {
	0% {transform:translateY(100px); opacity:0}
	100% {transform:translateY(0); opacity:1}
}

@keyframes TopToBottom {
	0% {transform:translateY(0)}
	100% {transform:translateY(-100px)}
}
